*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

body:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-filter: brightness(80%) blur(5px);
  background-image: url("../images/wallpaer\ \(5\).jpg");
  background-size: cover;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header img {
  height: 150px;
}
.login{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  height: 500px;
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
}

.loginheader{
  display: block;
  margin: 40px;
}
.loginheader h1 {
  font-size: xx-large;
}
.loginmain{
  display: block;
  width: 80%;
}

.loginmain > input{
  height: 70px;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 30px;
  font-size: larger;
  padding: 20px;
  background-color: rgba(182, 248, 248, 0.7);
  border: 0;
}

.button{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.button button{
  margin: 0 20px;
  width: 200px;
  height: 60px;
  font-size: x-large;
  border-radius: 10px;
  background: rgb(251,216,224);
  background: linear-gradient(127deg, rgba(251,216,224,1) 0%, rgba(207,144,193,1) 62%, rgba(170,203,224,1) 100%);
  border: 0;
}